# Configuration for replaying Traces/stg_0.txt.

[global]
Mode = 1
LogPeriod = 0
LogFile = sim_stats.log
DebugLogFile =
LatencyLogFile =
ProgressPeriod = 100
Interface = 1
Scheduler = 0
SubmissionLatency = 5us
CompletionLatency = 5us

[trace]
File = ./Traces/stg_0.txt
TimingMode = 1
QueueDepth = 64
IOLimit = 0
Regex = "[0-9]+,[0-9]+ +[0-9]+ +[0-9]+ +([0-9]+)[.]([0-9]+) +[0-9]+ +D +([A-Za-z]+) +([0-9]+) [+] ([0-9]+).*"
Operation = 3
ByteOffset =
ByteLength =
LBAOffset = 4
LBALength = 5
Second = 1
Millisecond =
Microsecond =
Nanosecond = 2
Picosecond =
LBASize = 512
UseHexadecimal = 0